*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

Кастомный скроллбар
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  width: 1140px;
  /* height: 534px; */
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 711px;
  /* height: 100%; */
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 26px;
  /* flex-grow: 1; */
  /* width: 399px;  */
  /* height: 534px;  */
  /* width: fit-content; */
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__list-container {
  height: 298px;
  width: 399px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  flex-grow: 1;
  gap: 6px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 5px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 94%;
  font-size: 75px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-size: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; 
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 103px; */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
  width: fit-content;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  font-size: 18px;
  color: #fff;
  appearance: none;
  min-width: 225px;
}

.search-form__fieldset {
  border: none;
}

.search-form__textfield::placeholder {
color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(:focus-visible) {
  appearance: none;
  /* border-radius: none; */
  outline: 1px;

}